<?xml version="1.0"?>
<config>
    <modules>
        <ReJuNi_Optimizer>
            <version>0.1.1</version>
        </ReJuNi_Optimizer>
    </modules>
    <global>
        <models>
            <rejuni_optimizer>
                <class>ReJuNi_Optimizer_Model</class>
            </rejuni_optimizer>            
			<rejuni>
                <class>ReJuNi_Core_Model</class>
            </rejuni>
			<catalog>
				<rewrite>
				    <product_image>ReJuNi_Optimizer_Model_Product_Image</product_image>
				</rewrite>
			</catalog>
        </models>
			<events>
				<rejuni_catalog_product_save_image_after>
					<observers>
						<ReJuNi_Optimizer_model_upload>
							<type>model</type>
							<class>ReJuNi_Optimizer_Model_Observer</class>
							<method>optimizeFilesize</method>
						</ReJuNi_Optimizer_model_upload>
					</observers>
				</rejuni_catalog_product_save_image_after>
			</events>
        <helpers>
            <rejuni_optimizer>
                <class>ReJuNi_Optimizer_Helper</class>
            </rejuni_optimizer>            
				<rejuni>
                <class>ReJuNi_Core_Helper</class>
            </rejuni>
        </helpers>
    </global>
    <default>
        <rejuni>
            <rejuni_group>
                <rejuni_optimizer_version>0.1.1</rejuni_optimizer_version>
            </rejuni_group>
        </rejuni>
        <rejuni_optimizer>
            <rejuni_optimizer_group>
                <rejuni_optimizer_apiuri>http://api.rejuni.nl/1.0/optimize</rejuni_optimizer_apiuri>
            </rejuni_optimizer_group>
        </rejuni_optimizer>
    </default>
	 <adminhtml>
		 <acl>
			  <resources>
					<all>
						 <title>Allow Everything</title>
					</all>
					<admin>
						 <children>
							  <system>
									<children>
										 <config>
											  <children>
													<rejuni>
														 <title>ReJuNi - All</title>
													</rejuni>
                                                    <rejuni_optimizer>
														 <title>ReJuNi - All</title>
													</rejuni_optimizer>
											  </children>
										 </config>
									</children>
							  </system>
						 </children>
					</admin>
			  </resources>
		 </acl>
	</adminhtml>
</config>